<h2><%= @room.name %></h2>

<h2>Ajax Speak</h2>
<%= form_for [@room,Message.new], remote: true do |f| %>
  <p>
    <%= f.text_field :content %>
    <%= f.submit %>
  </p>
<% end %>

<ul id="messages">
  <%= render partial: 'messages/message', collection: @messages, as: :message %>
</ul>

<script>
  subscribe_room('<%= @room.id %>');
</script>